.App {
  text-align: center;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.logo {
  height: 200px;
  padding:1rem
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-right: 1rem
}

#navItem {
  padding-left: 1rem;
  padding-right: 1rem
}

a {
  color: black;
  text-decoration: none;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-left: 3rem;
  padding-right: 3rem
}

#social{
  display: flex;
  align-items: center;
  flex-direction: row;
}

.socialPhoto {
  height:4rem;
  padding:1rem
}

.aboutSection{
  padding-left: 10rem;
  padding-right: 10rem
}

#about1{
  background-color: rgb(13, 57, 90, .9);
  color:white;
  padding-top: 1rem;
  padding-bottom: 1rem
}

#about2{
  background-color: rgb(24, 60, 140, .9);
  color:white;
  padding-top: 1rem;
  padding-bottom: 1rem

}

#about3{
  background-color: rgb(24, 100, 200, .9);
  color:white;
  padding-top: 1rem;
  padding-bottom: 1rem
}
