@font-face {
  font-family: TEXAT;
  src: url("./TEXAT.otf");
}

@font-face {
  font-family: Domine;
  src: url("https://fonts.googleapis.com/css?family=Domine");
}

.App {
  text-align: center;
  font-family: Domine, serif;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.logo {
  height: 6rem;
  padding-left: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

p{
  font-size: 1.1rem;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-right: 1rem;
}

#navItem {
  padding-left: 1rem;
  padding-right: 1rem;
}

a {
  color: black;
  text-decoration: none;
}

#footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-left: 3rem;
  padding-right: 3rem;
  background-color: white
}

#stickyFooter {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding-left: 3rem;
  padding-right: 3rem;
  height: 80px;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: white
}

#social {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.socialPhoto {
  height: 4rem;
  padding: 1rem;
}

h2 {
  color: #24344b;
}

.aboutSection {
  padding-left: 10rem;
  padding-right: 10rem;
}

.aboutHeader {
  font-family: TEXAT, sans-serif;
}

.aboutContent{
  display:flex;
  flex-direction: row;
  width:100%
}

.aboutPicContainer{
  margin-left: 1rem;
  margin-right: 1rem

}

.aboutPhoto{
  height:100%;
}

#about1 {
  background-color: #29404f;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: left;
}

#about2 {
  background-color: #0d395b;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: left;
}

#about3 {
  background-color: #365366;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: left;
}

#welcomePage {
  padding-left: 10rem;
  padding-right: 10rem;
}

#welcomeDiv {
  width: 100%;
  background-color: #0d395b;
}

#frontPhoto {
  width: 57%;
}

#infoSignup {
  margin: 0;
}

#signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: 2rem;
}

.signUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.multiFormDiv {
}

#multiPageSubmit {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10rem;
  margin-right: 5rem;
}

.formInput {
  width: 60%;
  height: 2rem;
}

.shorterInput {
  text-align: center;
}

#welcomeForm {
  font-size: 3rem;
  margin: 0;
  color: #24344b;
}

#welcomePage{
  font-size: 2rem;
  margin-bottom: 5rem
}

.formHeader {
  font-size: 2rem;
  font-weight: 450;
  color: #24344b;
}

.shorterInput {
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.5rem;
}

#addressLabel {
  font-size: 1.7rem;
  color: #0d395b;
  font-weight: 400;
  margin: 0;
}

.addressInput {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  width: auto;
  text-align: center;
}

#extra {
  font-weight: normal;
  margin: 0;
  margin-top: 2rem;
}

.order {
  font-size: 1.7rem;
  font-weight: normal;
  color: #0d395b;
}

.signupInputDrop {
  font-size: 1.5rem;
}

#message {
  width: 30rem;
  height: 10rem;
}

#submitButton {
  height: 40px;
  font-size: 1.5rem;
  background-color: #0d395b;
  color: white;
  border-radius: 4px;
}

#submitButton:hover {
  height: 40px;
  font-size: 1.5rem;
  background-color: white;
  color: #0d395b;
  border-radius: 4px;
}

.formLabel {
  font-size: 2rem;
  padding-right: 1rem;
  padding-left: 0.3rem;
  color: #0d395b;
}

.flavors {
  height: 10rem;
  margin-right: 0.5rem;
}

.flavorImage{
  height:10rem
}

.formInputFinal {
  font-size: 1rem;
  width: auto;
  margin: 1rem;
}

#formInputExtra {
  width: 60%;
  height: auto;
}
